header {
  overflow: hidden;
  position: relative;
  height: 320px;
  background: #e91e63;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  margin: 15px 5px;
}

.section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.tg td {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  text-align: center;
  vertical-align: middle;
  padding: 3px 20px;
  border-bottom: 1px solid #303030;
  background-color: #3a3a3a;
}

.tg th {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 15px 5px !important;
  word-break: normal;
  background: #c2185b !important;
  font-weight: bold;
}

.small td, .small th {
  font-size: 10px;
}

.client {
  font-weight: bold;
  font-size: 16px !important;
  text-align: right !important;
  min-width: 200px;
  text-transform: uppercase;
}

.top {
  text-align: center;
  border-bottom: 1px solid #4c4c4c;
  padding: 40px;
  margin-bottom: 40px;
  background: #4a4a4a;
}

.separator {
  border-bottom: 3px solid #4a4a4a;
}

.timeline {
  padding: 0 !important;
  width: 800px;
  background-color: white;
  display: flex;
}

.timeline > div {
  //flex: 1; /*grow*/
}

.timebox {
  display: block;
  font-size: 9px;
}

.timebox {
  display: block;
  font-size: 9px;
  text-align: left;
  padding: 3px 0px 3px 2px;
}

.r1 {
  background-color: rgb(176 190 197);
  color: black;
}

.r2 {
  background-color: #c2185b;
}

.end {
  padding: 3px 0px 3px 2px;
}