<br>
<br>
<button mat-raised-button color="primary" (click)="start()">Empezar</button>
<button mat-raised-button color="info" (click)="finish()">Terminar</button>
<br>
<br>
Tiempo Total: {{timer | formatTime}}

<p>
  <mat-form-field appearance="outline">
    <mat-label>Escriba aquí el nombre</mat-label>
    <input matInput autocomplete="off" (focus)="onFocus(0)" (blur)="onBlur()">
  </mat-form-field>
  {{timer1[0] | formatTime}}
</p>


<p>
  <mat-form-field appearance="outline">
    <mat-label>Escriba aquí el nombre</mat-label>
    <input matInput autocomplete="off" (focus)="onFocus(1)" (blur)="onBlur()">
  </mat-form-field>
  {{timer1[1] | formatTime}}
</p>


<p>
  <mat-form-field appearance="outline">
    <mat-label>Escriba aquí el nombre</mat-label>
    <input matInput autocomplete="off" (focus)="onFocus(2)" (blur)="onBlur()">
  </mat-form-field>
  {{timer1[2] | formatTime}}
</p>

