<header>

  <div class="section">
    <h1>Name Factory</h1>
    <h3>Un juego para entender varios conceptos ágiles</h3>

    <br>

    <button mat-raised-button (click)="openModalPlayers()">Empezar</button>

  </div>

</header>

<div class="top">

  <h1>Ronda 1</h1>

  <h3>En esta ronda vamos a atender a nuestros clientes de manera secuencial, es decir, una vez que terminamos el trabajo completo de un cliente lo marcamos como finalizado y pasamos al siguiente cliente.</h3>


  <h2>
    Tiempo Total: {{globalTimer | formatTime}}
  </h2>

  <button mat-raised-button color="primary" (click)="start()">Empezar</button>
  <button mat-raised-button color="info" (click)="finish()">Terminar</button>

</div>

<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">Cliente</th>
      <th class="tg-0lax">Nombre</th>
      <th class="tg-0lax">Terminado</th>
      <th class="tg-0lax">Inicio</th>
      <th class="tg-0lax">Fin</th>
      <th class="tg-0lax">T. Efectivo</th>
      <th class="tg-0lax">T. Percibido</th>
      <th class="tg-0lax">% Eficiencia</th>
      <th class="tg-0lax">Errores
  </thead>
  <tbody>

    <tr *ngFor="let player of players; index as i; trackBy: trackByFn">
      <td class="tg-0lax client">
        {{players[i]}}
      </td>
      <td class="tg-0lax">
        <mat-form-field appearance="outline">
          <mat-label>Escriba aquí el nombre</mat-label>
          <input matInput autocomplete="off" [disabled]="fields1[i]" (focus)="onFocus(i)" (blur)="onBlur()"
            (keydown)="logValue($event)" (keyup)="checkIfDeleted($event,i)">
        </mat-form-field>
      </td>
      <td class="tg-0lax">
        <mat-checkbox [color]="color" (change)="markAsFinished($event.checked, i)">
        </mat-checkbox>
      </td>
      <td class="tg-0lax">{{beginTime1[i] | formatTime}}</td>
      <td class="tg-0lax">{{endTime1[i] | formatTime}}</td>
      <td class="tg-0lax">{{processTime1[i] | formatTime}}</td>
      <td class="tg-0lax">{{leadTime1[i] | formatTime}}</td>
      <td class="tg-0lax">{{eficiency1[i] | number : '1.1-1'}}</td>
      <td class="tg-0lax">{{errors1[i]}}</td>

    </tr>

  </tbody>
</table>


<div class="top">
  
  <h1>Ronda 2</h1>

  <h3>En esta ronda vamos a atender a nuestros clientes de forma simultanea, es decir, escribimos una letra por de cada cliente y pasamos al siguiente marcando como finalizado una vez que lo terminamos.</h3>


  <h2>
    Tiempo Total: {{globalTimer | formatTime}}
  </h2>

  <button mat-raised-button color="primary" (click)="start()">Empezar</button>
  <button mat-raised-button color="info" (click)="finish()">Terminar</button>

</div>